body {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

input:active, input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.primary-btn {
  background: #2D9CDB;
  border: none;
  padding: 8px 20px;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}

#app {
  height: auto;
  padding: 40px;
}

.main-title {
  margin-bottom: 30px;
}

.head nav {
  margin: 30px 0;
}

.head nav a {
  padding: 8px 20px;
  background: transparent;
  color: #2D9CDB;
  border: 1px solid #2D9CDB;
  border-radius: 5px;
  margin-right: 10px;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.head nav a:hover, .head nav a.active {
  background: #2D9CDB;
  color: #fff;
}

.tvshows-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tvshows-list .poster {
  -ms-flex-preferred-size: 185px;
      flex-basis: 185px;
  margin-right: 20px;
  height: 277px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  border: 1px solid #2D9CDB;
}

.tvshows-list .poster .poster-title {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  background: rgba(18, 61, 86, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tvshows-list .poster h3 {
  color: #fff;
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 0 15px;
  font-weight: 400;
}

.tvshows-list .poster a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.tvshows-list .poster a:hover {
  color: #2D9CDB;
}

.page-switcher {
  width: auto;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switcher .prev, .page-switcher .next {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  cursor: pointer;
  opacity: 0.8;
}

.page-switcher .prev:hover, .page-switcher .next:hover {
  opacity: 1;
}

.page-switcher .prev.disabled, .page-switcher .next.disabled {
  background: #aaa;
  cursor: not-allowed;
}

.page-switcher .page-list {
  margin: 0 20px;
}

.page-switcher .page-list .page-link {
  padding: 2px 5px;
}

.page-switcher .page-list .page-link.active, .page-switcher .page-list .page-link:hover {
  color: #2D9CDB;
}
