body {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

#app {
  min-width: 100%;
  min-height: 100vh;
}

input:focus, input:active, input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.primary-btn {
  background: #2D9CDB;
  border: none;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

#app {
  height: auto;
}

#app.with-padding {
  padding: 40px;
}

.main-title {
  margin: 30px 0;
}

.tvshows-list, .main-title, .head, .page-switcher {
  padding: 0 40px;
}

.head nav {
  margin: 30px 0;
}

.head nav a {
  padding: 8px 20px;
  background: transparent;
  color: #2D9CDB;
  border: 1px solid #2D9CDB;
  border-radius: 5px;
  margin-right: 10px;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.head nav a:hover, .head nav a.active {
  background: #2D9CDB;
  color: #fff;
}

.search-bar {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.search-bar input {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #2D9CDB;
  margin-right: 15px;
  padding: 0 10px;
}

.search-bar input, .search-bar button {
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-bar button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tvshows-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tvshows-list .poster {
  -ms-flex-preferred-size: 185px;
      flex-basis: 185px;
  margin-right: 20px;
  height: 277px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  border: 1px solid #2D9CDB;
}

.tvshows-list .poster .poster-title {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  background: rgba(18, 61, 86, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tvshows-list .poster h3 {
  color: #fff;
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 0 15px;
  font-weight: 400;
}

.tvshows-list .poster a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.tvshows-list .poster a:hover {
  color: #2D9CDB;
}

.page-switcher {
  width: auto;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-switcher .prev, .page-switcher .next {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  cursor: pointer;
  opacity: 0.8;
}

.page-switcher .prev:hover, .page-switcher .next:hover {
  opacity: 1;
}

.page-switcher .prev.disabled, .page-switcher .next.disabled {
  background: #aaa;
  cursor: not-allowed;
}

.page-switcher .page-list {
  margin: 0 20px;
}

.page-switcher .page-list .page-link {
  padding: 2px 5px;
}

.page-switcher .page-list .page-link.active, .page-switcher .page-list .page-link:hover {
  color: #2D9CDB;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.tv-intro {
  height: 100vh;
  position: fixed;
  width: 100%;
  overflow: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.tv-intro .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
      grid-template-areas: "top top" "bottom-left bottom-right";
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
  grid-gap: 20px 50px;
}

.tv-intro .back-btn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.tv-intro .tv-poster {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom-left;
  width: 300px;
  height: 450px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #333;
          box-shadow: 0 0 10px #333;
}

.tv-intro .tv-overview h3, .tv-intro .tv-recommendations h4 {
  margin-bottom: 10px;
}

.tv-intro .tv-info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: bottom-right;
  color: #fff;
}

.tv-intro .tv-info > * {
  margin-bottom: 15px;
}

.tv-intro .recommendation-item a {
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.tv-intro .recommendation-item a:hover {
  color: #2D9CDB;
}
